<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topicplaces.browsetopics" >

    <!-- Required permissions for app functionality -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PublicTopicsActivity"
            android:label="@string/title_activity_public_topics"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.topicplaces.browsetopics.HomeActivity" />
        </activity>
        <activity
            android:name=".PrivateTopicsActivity"
            android:label="@string/title_activity_private_topics"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.topicplaces.browsetopics.HomeActivity" />
        </activity>
        <activity
            android:name=".PublicMessagesList"
            android:label="@string/title_activity_public_messages_list"
            android:parentActivityName=".PublicTopicsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.topicplaces.browsetopics.PublicTopicsActivity" />
        </activity>
        <activity
            android:name=".PostMessage"
            android:label="@string/title_activity_post_message" >
        </activity>
        <activity
            android:name=".ViewMessage"
            android:label="@string/title_activity_view_message" >
        </activity>
    </application>

</manifest>
